{% extends 'base.html' %}

{% load static %}
{% block title %}
My Product
{% endblock %}

{% block css %}
    <style>
    .display{
        display: grid;
        grid-template-columns: 8fr 2fr;
        align-content: center;
    }

    .product_list{
        padding: 10px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 1em;
       justify-content: center;
    }

    .product_form{
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
{% endblock %}


{% block body %}

    {% if flag %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Added  to the Cart Successfully
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div class="display" id="display">
        <div class="product_list">
            {% if products %}
            {% for product in products %}
                <div class="card" style="width: 20rem;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="image" width="200px" height="250px">
                    <div class="card-body">
                    <h5 class="card-title">Product Name: {{product.product_name}}</h5>
                    <p class="card-text">Product Number: {{product.product_number}}</p>
                    <p class="card-text">Product Price: RS {{product.price}} /-</p>
                    <p class="card-text">Product Details: {{product.desc}}</p>
                    <form action="addToCart" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input type="text" class="form-control" name="number" id="number" value="{{product.product_number}}" hidden>
                        <button type="submit" class="btn btn-primary">Add To Cart</button>
                    </form>                    
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="product_form">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Product
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="addProduct" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-body">                     
                                <div class="mb-3">
                                    <label for="number" class="form-label">Product Number</label>
                                    <input type="text" class="form-control" name="number" id="number" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="prod_name" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" name="name" id="name">
                                </div>
                                <div class="mb-3">
                                    <label for="desc" class="form-label">Product Description</label>
                                    <textarea type="text" class="form-control" name="desc" id="desc"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Product Price</label>
                                    <input type="text" class="form-control" name="price" id="price">
                                </div>
                                <div class="mb-3 ">
                                    <label for="price" class="form-label">Product Image</label>
                                    <input type="file" class="form-control" name="image" id="image">
                                </div>                                
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    