{% extends 'base.html' %}

{% load static %}
{% block title %}
My Cart
{% endblock %}

{% block css %}
    <style>
        .display {
            display: grid;
            grid-template-columns: 3fr 2fr;
        }

        .product_list {
            padding: 10px;
            display: grid;
            justify-content: center;
        }

        .product_form {
            padding: 10px;
        }

        tr {
            padding: 10px;
            text-align: center;
        }

        th {
            padding: 10px;
        }

        td {
            padding: 10px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="display" id="display">
        <div class="product_list">
            {% if cart %}
            {% for product in cart %}
            <div class="card mb-3" style="width: 50vw;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="{{product.image.url}}" class="card-img-top" alt="image" width="auto" height="100%">
                      </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Product Name: {{product.product_name}}</h5>
                            <p class="card-text">Product Number: {{product.product_number}}</p>
                            <p class="card-text">Product Price: RS {{product.price}} /-</p>
                            <p class="card-text">Product Details: {{product.product_desc}}</p>
                            <p class="card-text"><small class="text-muted">{{product.date}}</small></p>
                            <form action="removeFromCart" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <input type="text" class="form-control" name="number" id="number" value="{{product.product_number}}" hidden>
                                <button type="submit" class="btn btn-primary">Remove from Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="product_form">
            <!-- Button trigger modal -->
            <h2>Order</h2>
            <hr>
            {% if cart %}
            <table>
                <tr>
                    <th>Product Number</th>
                    <th>Product Name</th>
                    <th>Product Price:</th>
                </tr>

                {% for product in cart %}
                <tr>
                    <td class="card-text"> {{product.product_number}}</td>
                    <td class="card-title">{{product.product_name}}</td>
                    <td class="card-text"> RS {{product.price}} /-</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
            <hr>
        </div>
    </div>
{% endblock %}
